@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 767px){

    #div-filho{
        width: 85%;
    }    

}