@charset "UTF-8";

:root{
    --cor01: #212121;
    --cor02: rgba(163, 20, 111, 0.981);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}


#div-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0% 0px 10% 0px;
    width: 100%;
    background-image: url(../../../imagens/section-img-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*HEADER*/


header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: transparent;
}

.titulo{
    color: white;
    text-shadow: 3px 3px var(--cor02);
    font-size: 55px;
    font-style: italic;
    margin: 30px 0px 3px 0px;
}

#h3-voltar{
    font-size: 20px;
    transition: ease 0.5s;
    color: white;
    margin-bottom: 30px;
    
    & a{
        color: white;
        text-decoration: none;
        text-shadow: 2px 2px var(--cor02);
    }
}
#h3-voltar:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

#header-image{
    height: 90px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../../../imagens/logo-2.png);
    background-size: cover;
    background-position: top;
    border-radius: 100px;
    margin: 0px 15px 0px 15px;
    transition: ease 0.5s;
    cursor: pointer;
}
#header-image:hover{
    transform: scale(1.07);
}

/*DIV-FILHO*/


#editEventForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0px 3% 0px;
    width: 60%;
    background-color: transparent;
}

/*INPUTS*/

hr{
    background-color: white;
    border: none;
    height: 2px;
    width: 50%;
}

label{
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px var(--cor02);
}

input, select{
    height: 25px;
    width: 65%;
    margin: 0px 0px 70px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    color: black;
    background-color: transparent;
    font-size: 19px;
    text-align: center;
}
input, select:focus{
    outline: none;
}
/*input, select:valid{
    background-color: rgb(255, 255, 255, 0.54);
}*/

::placeholder{
    color: white;
}

#itipo{
    color: black;
}

fieldset{
    padding: 30px 100px 30px 100px;
    border: 3px solid black;
    margin-bottom: 70px;
}

legend{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px var(--cor02);
}

#p-textarea{
    color: white;
    font-size: 17px;
}

textarea{
    height: 45vh;
    width: 25vw;
    max-height: 60vh;
    max-width: 25vw;
    min-width: 25vw;
}

#iimagem{
    cursor: pointer;
}

#btt-evento{
    height: 50px;
    width: 15vw;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: ease 0.5s;
}
#btt-evento:hover{
    transform: scale(1.07);
    background-color: var(--cor01);
}


#eventDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.btt-delete-account{
    height: 55px;
    width: 120px;
    letter-spacing: 2px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    background-color: rgba(255, 68, 0, 0.615);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.btt-delete-account:hover{
    transform: scale(1.10);
    background-color: rgba(212, 57, 0, 0.736);
}
