@charset "UTF-8";

:root{
    --cor01: #212121;
    --cor02: rgba(163, 20, 111, 0.981);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}

h1{
    color: red;
}