<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/userCss/loginCss/login.css">
    <link rel="stylesheet" href="../../css/userCss/loginCss/loginMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <div id="div-filho">

            <form method="post" action="/authenticateLogin">
                <h1>Login</h1>

                <input type="text" name="email" id="iemail" placeholder="Email" required    >
                <input type="password" name="password" id="ipassword" placeholder="Password" required   >

                <p><a href="/registro">Não tenho uma conta</a></p>
                
                <button>Login</button>
            </form>
        </div>


        <!--Modal-->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Registrado</h2>
                <i class="material-icons">how_to_reg</i>
                <p id="p-modal">Seu registro foi salvo com sucesso! Continue com o login</p>
                <button id="close-modal-btn" class="modal-button">Continuar</button>
            </div>
        </div>
    </div>
</body>



<script>

    var modal = document.getElementById('modal');
    var h2modal = document.getElementById('h2-modal')
    var pmodal = document.getElementById('p-modal')
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    
    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', (event) =>{
        const URLparams = new URLSearchParams(window.location.search);
        const sucessParams = URLparams.get('success');
        const wrongParams = URLparams.get('wrongPassword');
        const userWrongParams = URLparams.get('userDataWrong');

        if(sucessParams){
            h2modal.innerText = 'Registrado';
            pmodal.innerText = 'Seu registro foi salvo com sucesso! Continue com o login';
            bttModal.innerText = 'Continuar'
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);  
            
            URLparams.delete('success');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }

        if(wrongParams){
            h2modal.innerText = 'Senha incorreta';
            pmodal.innerText = 'Sua senha está incorreta! Por favor tente novamente.';
            bttModal.innerText = 'Tentar novamente'
            bttModal.style.backgroundColor = 'red'
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);  

            URLparams.delete('wrongPassword');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }

        if(userWrongParams){
            h2modal.innerText = 'Dados de usuário incorretos';
            pmodal.innerText = 'Email e senha inexistentes! Por favor tente novamente';
            bttModal.innerText = 'Tentar novamente'
            bttModal.style.backgroundColor = 'red'
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);  

            URLparams.delete('userDataWrong');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
    })

</script>

</html>