@charset "UTF-8";

h1{
    color: red;
}

.imagem-perfil{
    height: 130px;
    width: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;
    margin: 0px;
}