@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box; /* Garantir que padding/border não afete dimensões */box-sizing: border-box; /* Garantir que padding/border não afete dimensões */
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%; /* Define que html e body ocupam 100% da altura da viewport */
}

h1{
    color: black;
    margin: 0px 0px 20px 0px;
    font-size: 35px;
}

#div-pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 2px 0px;
    width: 100%;
    background-image: url(../../imagens/section-img-7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-filho{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 40%;
    border-radius: 20px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;
    margin-bottom: 60px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
}


input{
    height: 38px;
    width: 80%;
    border: none;
    font-size: 17px;
    margin: 0px 0px 10px 0px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid black;
}

input:focus {
    outline: none; 
}

input::placeholder{
    color: rgba(0, 0, 0, 0.35);
}

label{
    font-size: 17px;
    margin: 0px 10px 0px 0px;
}

#p-registro{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

#div-imagem-capa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    width: 90%;
    margin: 20px 0px 40px 0px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: white;
}

#div-imagem-perfil{
    height: 130px;
    width: 130px;
    margin: 20px;
    background-image: url(../../imagens/user.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;
}
.imagem-perfil{
    height: 130px;
    width: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;
    margin: 0px;
}

#input-edit-imagem{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

button{
    height: 40px;
    width: 30%;
    border: none;
    background-color: rgba(240, 46, 169, 0.676);
    color: white;
    font-size: 19px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.378);
    outline: none;
    transform: scale(1.08);
}

.imagem-perfil{
    height: 130px;
    width: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;
    margin: 0px;
}


/*modal*/

.displayAppear{
    display: block;
}

/* Estilização do Modal */
.modal {
    display: none; /* Modal começa invisível */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
}

/* Conteúdo do Modal */
.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* Botão Fechar (X) */
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.close-button:hover {
    color: #e74c3c;
}

#h2-modal{
    font-size: 30px;
    margin-bottom: 3px;
}

#p-modal{
    font-size: 19px;
    margin-top: 3px;
}

/* Botão de Ação */
.modal-button {
    background-color: #db3434;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.5s ease;
}

.modal-button:hover {
    background-color: #dd4c4c;
}

/* Animação de Aparecer */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*modal 2*/


#modal2{
    display: none; /* Modal começa invisível */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro transparente */
}

#h2-modal2{
    font-size: 30px;
    margin-bottom: 3px;
}

#p-modal2{
    font-size: 19px;
    margin-top: 3px;
}

/* Botão de Ação */
#close-modal-btn2{
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    width: 160px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.5s ease;
}

#close-modal-btn2:hover {
    background-color: #df412f;
}

/* Animação de Aparecer */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}