<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar grupo</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link rel="stylesheet" href="../../css/homepageCss/homepageMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <div id="header-image">
    
            </div>
            <h1 class="titulo">Eventos</h1>
        </header>

        <div id="container-homepage">
            <div id="profile-homepage">
                <h1 id="h1-eventos">MEUS EVENTOS</h1>
                <h1 id="h1-eventos">DESSE GRUPO</h1>
                <hr class="hr-eventos">

                <div id="eventos-container">
                    <li>
                        <a href="/criarEventos/<%= groupIdVar %>">Criar evento</a>
                        <i class="material-icons">add_circle</i>
                    </li>
                    <li>
                        <a href="/meusEventos">Meus eventos</a>
                        <i class="material-icons">edit</i>
                    </li>
                </div>
            </div>

            <div id="container-publications">
                
            </div>
        </div>
    </div>
</body>
</html>