<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar grupo</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link rel="stylesheet" href="../../css/homepageCss/homepageMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <div id="header-image">
    
            </div>
            <h1 class="titulo">Eventos</h1>
        </header>

        
    </div>
</body>
</html>