<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de eventos</title>
    <link rel="stylesheet" href="../../css/criar-eventosCss/criar-eventos.css">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>
        

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1 id="titulo-evento">Crie seu evento</h1>

            
            <label for="nomeEvento">NOME DO EVENTO</label>
            <input type="text" name="nomeEvento" id="inomeEvento">
            
            
            <label for="tipo">TIPO DE EVENTO</label>
            <select name="tipo" id="itipo"> 
                <option value="" selected></option>        
                <option value="privado">Privado</option>
                <option value="publico">Público</option>
            </select>

            
            <label for="organizador">ORGANIZADOR DO EVENTO</label>
            <input type="text" name="organizador" id="iorganizador">
            
            
            <label for="data">DATA DO EVENTO</label>
            <input type="date" name="data" id="idata">
            
            
            <label for="hora_inicio">HORÁRIO DE INÍCIO</label>
            <input type="time" name="hora_inicio" id="ihora_inicio">

            
            <label for="hora_fim">HORÁRIO DE TÉRMINO</label>
            <input type="time" name="hora_fim" id="ihora_fim">

            
            <label for="endereco">ENDEREÇO DO EVENTO</label>
            <input type="text" name="endereco" id="iendereco">
            
            <fieldset>
                <legend>DESCRIÇÃO</legend>
                <p id="p-textarea">*até 600 caracteres</p>
                <textarea name="descricao" id="idescricao">

                </textarea>
            </fieldset>

            
            <label for="imagem">Imagem de fundo (opcional)</label>
            <input type="file" name="imagem" id="iimagem">

            <button id="btt-evento">Publicar</button>
        </form>
    </div>
</body>
</html>