<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
</head>
<body>
    <header>
        <h1>Gerenciador</h1>
        <div id="header-image">

        </div>
        <h1>De Eventos</h1>
    </header>

    <div id="div-pai">
        <div id="profile-homepage">
            <p>profile-space</p>
        </div>

        <div id="publications-homepage">
            <p>publications-space</p>
        </div>

    </div>
</body>
</html>