<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
</head>
<body>
    <header>
        <h1 class="titulo">Gerência</h1>
        <div id="header-image">

        </div>
        <h1 class="titulo">Eventos</h1>
    </header>

    <div id="div-pai">
        <div id="profile-homepage">
            <p>profile-space</p>
        </div>

        <div id="publications-homepage">
            <div id="event-banner">
                <div id="event-data">
                    <p id="p-event-data">25 dez</p>
                </div>
                <div id="event-title">
                    <p id="p-event-title">Evento de Natal</p>
                </div>
            </div>
            <p>publications-space</p>
        </div>

    </div>
</body>
</html>