<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="titulo">Gerência</h1>
        <div id="header-image">

        </div>
        <h1 class="titulo">Eventos</h1>
    </header>

    <div id="div-pai">
        <div id="profile-homepage">
            <div id="profile-container">
                <div id="profile-image">

                </div>
                <p class="profile-name">Name user</p>
                
                <a href="">Editar perfil</a>
                
            </div>

            <h1 id="h1-eventos">MEUS EVENTOS</h1>

            <div id="eventos-container">
                <li> 
                    Próximos
                    <i class="material-icons">schedule_send</i>
                </li>
                <li>
                    Calendário
                    <i class="material-icons">calendar_today</i>
                </li>
                <li>
                    Inscrito
                    <i class="material-icons">event_available</i>
                </li>
                <li>
                    Criar
                    <i class="material-icons">add_circle</i>
                </li>
            </div>
        </div>


        <div id="publications-homepage">
            <div id="event-banner">
                <div id="event-data">
                    <p id="p-event-data">25 dez</p>
                </div>
                <div id="event-title">
                    <p id="p-event-title">Evento de Natal</p>
                </div>
            </div>
            <p>publications-space</p>
        </div>

    </div>
</body>
</html>