<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../css/loginCss/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <div id="div-filho">

            <form method="post" action="/authenticateLogin">
                <h1>Login</h1>

                <input type="text" name="email" id="iemail" placeholder="Email" required    >
                <input type="password" name="password" id="ipassword" placeholder="Password" required   >

                <p><a href="/registro">Não tenho uma conta</a></p>
                
                <button>Login</button>
            </form>
        </div>


        <!--Modal-->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Registrado</h2>
                <i class="material-icons">how_to_reg</i>
                <p id="p-modal">Seu registro foi salvo com sucesso! Continue com o login</p>
                <button id="close-modal-btn" class="modal-button">Continuar</button>
            </div>
        </div>

        <!--Modal 2-->

        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt2">&times;</span>
                <h2 id="h2-modal2">Senha incorreta</h2>
                <i class="material-icons">error</i>
                <p id="p-modal2">Sua senha está incorreta! Por favor tente novamente.</p>
                <button id="close-modal-btn2" class="modal-button">Tentar novamente</button>
            </div>
        </div>


        <!--Modal 3-->

        <div id="modal3" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt3">&times;</span>
                <h2 id="h2-modal3">Dados de usuário incorretos</h2>
                <i class="material-icons">error</i>
                <p id="p-modal3">Email e senha inexistentes! Por favor tente novamente.</p>
                <button id="close-modal-btn3" class="modal-button">Tentar novamente</button>
            </div>
        </div>
    </div>
</body>



<script>

    var modal = document.getElementById('modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    
    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', (event) =>{
        const URLparams = new URLSearchParams(window.location.search);
        const Params = URLparams.get('success');

        if(Params){
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);  
            
            URLparams.delete('success');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
    })


    //modal 2


    var modal2 = document.getElementById('modal2');
    var bttModal2 = document.getElementById('close-modal-btn2');
    var spanbtt2 = document.getElementById('span-btt2');

    function bttModalPress2(btt, span){
        btt.addEventListener('click', () =>{
            modal2.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal2.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', (event) =>{
        const URLparams = new URLSearchParams(window.location.search);
        const Params = URLparams.get('wrongPassword');

        if(Params){
            modal2.style.display = 'block'
            bttModalPress2(bttModal2, spanbtt2);  
            
            URLparams.delete('wrongPassword');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
    })


    //modal 3


    var modal3 = document.getElementById('modal3');
    var bttModal3 = document.getElementById('close-modal-btn3');
    var spanbtt3 = document.getElementById('span-btt3');

    function bttModalPress3(btt, span){
        btt.addEventListener('click', () =>{
            modal3.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal3.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', (event) =>{
        const URLparams = new URLSearchParams(window.location.search);
        const Params = URLparams.get('userDataWrong');

        if(Params){
            modal3.style.display = 'block'
            bttModalPress3(bttModal3, spanbtt3);  
            
            URLparams.delete('userDataWrong');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' +URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
    })

</script>

</html>