<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../css/registerCss/register.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <div id="div-filho">
            <h1>Registre-se</h1>
            <!--enctype="multipart..." é usado para formular dados que incluem arquivos ou tipos binários.-->
            <form method="post" action="/saveRecords" enctype="multipart/form-data" id="register-form">
                <input type="text" name="fullname" id="inome" placeholder="Nome completo" required>
                <input type="text" name="username" id="iusername" placeholder="Nome de usuário" required>
                <input type="email" name="email" id="iemail" placeholder="Email" required>
                <input type="password" name="password" id="isenha" placeholder="Senha" required>
            
                <div id="div-imagem-capa">
                
                    <div id="div-imagem-perfil">
                            
                    </div>
    
                    <!-- Formulário de upload de imagem -->
                    <input type="file" id="input-edit-imagem" name="imageCreate" accept="image/*">
                </div>

                <p id="p-registro"><a href="/login">Já tenho uma conta</a></p>
                <button>Cadastrar</button>
            </form>
        </div>


        <!--Modal-->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Aviso</h2>
                <i class="material-icons">error</i>
                <p id="p-modal"></p>
                <button id="close-modal-btn" class="modal-button">Tentar outro</button>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('input-edit-imagem').addEventListener('change', function(event) {
        const file = event.target.files[0];  // Pega o primeiro arquivo (se existir)
            if (file) {
                const reader = new FileReader();  // Cria um novo FileReader

                reader.onload = function(e) {
                    const imgElement = document.createElement('img');  // Cria um elemento de imagem
                    imgElement.src = e.target.result;  // Define o src como o conteúdo do arquivo carregado
                    imgElement.classList.add('imagem-perfil')

                    const divImagemPerfil = document.getElementById('div-imagem-perfil');
                    divImagemPerfil.innerHTML = '';  // Limpa o conteúdo anterior da div
                    divImagemPerfil.appendChild(imgElement);  // Adiciona a nova imagem dentro da div
                };

                reader.readAsDataURL(file);  // Lê o arquivo e o converte em uma URL de dados
            }
    });

    //modal
    
    var modal = document.getElementById('modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    var pmodal = document.getElementById('p-modal');
    
    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', () =>{
        const URLparams = new URLSearchParams(window.location.search);
        const emailExistParams = URLparams.get('emailExist');
        const Params = URLparams.get('userName');

        if(emailExistParams){
            pmodal.innerText = 'Email inserido já existente, por favor tente com outro!!!'
            modal.style.display = 'block'            
        }

        if(Params){
            pmodal.innerText = 'Nome de usuário já existente, por favor tente com outro!!!'
            modal.style.display = 'block'
        }

        if(emailExistParams || Params){
            bttModalPress(bttModal, spanbtt);
            URLparams.delete('emailExist');
            URLparams.delete('userName');
            const newUrl = window.location.pathname + (URLparams.toString() ? '?' + URLparams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
   

        document.getElementById('register-form').addEventListener('submit', (event) =>{
            const nomefield = document.getElementById('inome'); //max80
            const usernamefield = document.getElementById('iusername'); //min3 max30
            const emailfield = document.getElementById('iemail'); //max254
            const senhafield = document.getElementById('isenha'); //min8 max100

            let isValid = true;
            const errorMessages = [];

            if (nomefield.value.length > 80) {
                isValid = false;
                errorMessages.push('Nome completo pode ter no máximo 80 caracteres');
            }

            if (usernamefield.value.length < 3 || usernamefield.value.length > 30) {
                isValid = false;
                errorMessages.push('Nome de usuário deve ter entre 3 e 30 caracteres');
            }

            if (emailfield.value.length > 254) {
                isValid = false;
                errorMessages.push('Email pode ter no máximo 254 caracteres');
            }

            if (senhafield.value.length < 8 || senhafield.value.length > 100) {
                isValid = false;
                errorMessages.push('Senha deve ter entre 8 e 100 caracteres');
            }

            if (!isValid) {
                event.preventDefault();
                pmodal.innerText = errorMessages.join('\n'); // Exibe todas as mensagens de erro
                bttModal.innerText = 'Corrigir'
                bttModalPress(bttModal, spanbtt);
                modal.style.display = 'block';
            }
        })
    })


</script>

</html>