<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="../../css/register.css">
</head>
<body>
    <h1>welcome to my register page</h1>
    <!--enctype="multipart..." é usado para formular dados que incluem arquivos ou tipos binários.-->
    <form method="post" action="/saveRecords">
        <input type="text" name="fullname" id="inome" placeholder="Seu nome completo aqui..." required>
        <input type="text" name="username" id="iusername" placeholder="Seu nome de usuário aqui...">
        <input type="email" name="email" id="iemail" placeholder="Seu email aqui..." required>
        <input type="password" name="password" id="isenha" placeholder="Sua senha aqui..." required>
    
        <button>Cadastrar</button>
    </form>
</body>

</html>