

@charset "UTF-8";


#grupos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 70vw;
    background-color: white;
    border-radius: 10px;
}

#isearch{
    height: 50px;
    width: 69vw;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border: none;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(47, 10, 33, 0.3) -10px 10px,
    rgba(60, 19, 45, 0.2) -15px 15px, rgba(82, 25, 61, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;
}

#isearch:focus{
    outline: none;
}

