<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar seu perfil</title>
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-perfilCss/editar-perfil.css">
</head>
<body>
    <h1>welcome to edit profile</h1>
</body>
</html>