<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar seu perfil</title>
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-perfilCss/editar-perfil.css">
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-perfilCss/editar-perfilMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>

        <% recordData.forEach(data =>{ %>
            
            <% if(!data.image) { %>
                <div id="div-imagem-perfil">
                    <img id="img-perfil" src="../../../imagens/user.jpg" />                   
                </div>    
            <% } else { %>                    
                <div id="div-imagem-perfil">
                    <img id="img-perfil" src="data:image/jpeg;base64,<%= data.image.toString('base64') %>" />                   
                </div>
            <% } %>

        <div id="edit-imagem-perfil">
            <i class="material-icons" id="i-photo">photo_camera</i>
            <p id="p-edit-imagem">Edit your photo</p>
        </div>

        <!-- Formulário de upload de imagem -->
        <form id="upload-form" action="/uploadImage" method="POST" enctype="multipart/form-data" style="display: none;">
            <input type="file" id="input-file" name="image" accept="image/*">
        </form>
        

        <h1 class="titulo"><%= data.fullName %></h1>


        <div id="shortcuts">
            <h1 id="h1-shortcuts">EDITE SUA CONTA</h1>
            
            <form action="/updateNames" method="post">
                <label for="fullname" class="label-edit-account">Nome completo:</label>
                <input type="text" name="fullName" class="inputs-edit-account" value="<%= data.fullName %>" maxlength="80">
                
                <label for="username" class="label-edit-account">Nome de usuário:</label>
                <input type="text" name="userName" class="inputs-edit-account" value="<%= data.userName %>" minlength="3" maxlength="30">
                
                <button class="btt-edit-account">EDIT</button>
            </form>
               

            <form action="/deleteAccount" method="post" id="accountDelete">
                <h1 id="h1-shortcuts">DELETE ACCOUNT</h1>
                <button class="btt-delete-account">DELETE</button>
            </form>
        </div>

        <% }) %>

        <h3 id="h3-voltar">
            <a href="/homepage">
                Voltar para homepage
                <i class="material-icons">undo</i>
            </a>
        </h3>

        <!--Modal-->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Só um momento!</h2>
                <i class="material-icons">info</i>
                <p id="p-modal">Tem certeza que deseja excluir seu perfil ?</p>
                
                <button id="close-modal-btn" class="modal-button">Tenho certeza</button>
            </div>
        </div>
    </div>
</body>

<script>
    // Ao clicar no ícone, abre o seletor de arquivo
    document.getElementById('edit-imagem-perfil').addEventListener('click', () => {
        document.getElementById('input-file').click();
    });

    // Quando o arquivo for selecionado, o formulário é enviado automaticamente
    document.getElementById('input-file').addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (e) => {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.classList.add('div-imagem-perfil');
                const divImagemPerfil = document.getElementById('div-imagem-perfil');
                divImagemPerfil.innerHTML = '';
                divImagemPerfil.appendChild(img);

                // Envia o formulário automaticamente para o backend
                document.getElementById('upload-form').submit();                    
            };
            reader.readAsDataURL(file);
        }
    });



    const deleteForms = document.getElementById('accountDelete');
    deleteForms.addEventListener('submit', (event) => {
        event.preventDefault(); // Impede o envio padrão

        const modal = document.getElementById('modal');
        const bttModal = document.getElementById('close-modal-btn');
        const spanbtt = document.getElementById('span-btt');

        // Exibe o modal
        modal.style.display = 'block';

        // Fechar o modal ao clicar no "x"
        spanbtt.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        // Confirmação de exclusão
        bttModal.addEventListener('click', () => {
            modal.style.display = 'none';
            deleteForms.submit(); // Submete o formulário após confirmação
        });
    });
</script>

</html>