<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos inscritos</title>
    <link rel="stylesheet" href="../../../css/shorthandsCss/eventos-inscritosCss/eventos-inscritos.css">
</head>
<body>
    <h1>welcome to events you've already participate</h1>
</body>
</html>